:root {
  --cor-0: #ebebff;
  --cor-1: #e6e6fa;
  --cor-2: #d3d3e5;
  --cor-3: #c7c7d9;
  --cor-4: #bcbccc;
  --cor-5: #a4a4b2;
  --cor-6: #8d8d99;
  --cor-7: #757580;
  --cor-8: #5e5e66;
  --cor-9: #46464d;
  --cor-10: #2f2f33;
  --cor-11: #17171a;
  --cor-12: #000000;
  --cor-p1: #ff8c00;
  --cor-p2: #e57300;
  --cor-p3: #b25300;
  --cor-p4: #803c00;
  --cor-p5: #592a00;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
