body {
  margin: 0px;
  color: #17171a;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
p,
a {
  margin: 0px;
}

a {
  text-decoration: none;
}
